<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationCtrl</servlet-name>
  	<display-name>RegistrationCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.RegistrationCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCtrl</servlet-name>
  	<display-name>LoginCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.LoginCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomCtrl</servlet-name>
  	<display-name>WelcomCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.WelcomCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordCtrl</servlet-name>
  	<display-name>ForgotPasswordCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.ForgotPasswordCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgetCtrl</servlet-name>
  	<display-name>ForgetCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.ForgetCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitorCount</servlet-name>
  	<display-name>VisitorCount</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.VisitorCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentCtrl</servlet-name>
  	<display-name>StudentCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.StudentCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentCtrl</servlet-name>
  	<display-name>GetStudentCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.GetStudentCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchStudentCtrl</servlet-name>
  	<display-name>SearchStudentCtrl</display-name>
  	<description></description>
  	<servlet-class>com.rays.ctrl.SearchStudentCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationCtrl</servlet-name>
  	<url-pattern>/RegistrationCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCtrl</servlet-name>
  	<url-pattern>/LoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomCtrl</servlet-name>
  	<url-pattern>/WelcomCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordCtrl</servlet-name>
  	<url-pattern>/ForgotPasswordCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgetCtrl</servlet-name>
  	<url-pattern>/ForgetCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisitorCount</servlet-name>
  	<url-pattern>/VisitorCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentCtrl</servlet-name>
  	<url-pattern>/StudentCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentCtrl</servlet-name>
  	<url-pattern>/GetStudentCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchStudentCtrl</servlet-name>
  	<url-pattern>/SearchStudentCtrl</url-pattern>
  </servlet-mapping>
</web-app>
